<section class="about-section">
    <div class="container-fluid">
        <div class="row">
            <div
                class="text col-12 order-2 col-sm-12 col-md-12 col-lg-6 order-lg-1 col-xl-7"
            >
                <h3>
                    Major Volvo – официальный дилер Вольво в Москве
                </h3>
                <p>
                    Надежный, эстетичный, комфортабельный, с отличной
                    управляемостью и традиционным акцентом на безопасность – это
                    Volvo, упоминание которого вызывает яркие ассоциации у
                    автолюбителей России, Европы, всего мира.
                </p>
                <p class="last_p">
                    Если вы уже видите себя за рулем этой красивой, современной
                    машины, начиненной по последнему слову техники, Major Volvo
                    – официальный дилер Вольво в Москве – с радостью воплотит
                    вашу мечту в жизнь.
                </p>
                <div class="underline-link">
                    <a class="link">Читать дальше</a>
                </div>

                <button class="common-button">
                    Контакты
                    <div class="arrow"></div>
                </button>
            </div>
            <div
                class="image col-12 order-1 col-sm-12 col-md-12 col-lg-6 order-lg-2 col-xl-5"
            ></div>
        </div>
    </div>
</section>
