<section class="services-section">
    <div class="container-fluid">
        <h2>Услуги по покупке Вольво в Major</h2>
        <p class="text">Мы предлагаем широкий спектр сопутствующих услуг, постоянно расширяем ассортимент и совершенствуем их качества клиентам.</p>

        <div class="row servise_row">
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 servise" >
                <img src="../images/services_sec/change-avto.svg" alt="" >
                <p class="servise_text"><span>Обмен подержанного автомобиля на&nbsp;новый по системе Trade-in.</span></p>
            </div>

            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 servise">
                <img src="../images/services_sec/technician.svg" alt="">
                <p class="servise_text"><span>Предоставление подменного авто на&nbsp;время ремонта.</span></p>
            </div>

            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 servise">
                <img src="../images/services_sec/gift.svg" alt="">
                <p class="servise_text"><span>Выгодная бонусная программа.</p>
            </div>

            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 servise">
                <img src="../images/services_sec/turbo-engine.svg" alt="">
                <p class="servise_text"><span>Оригинальные запчасти и аксессуары – в&nbsp;наличии и&nbsp;под заказ.</span></p>
            </div>

            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 servise">
                <img src="../images/services_sec/guarantee.svg" alt="">
                <p class="servise_text"><span>Продленная гарантия на&nbsp;3&nbsp;года.</p>
            </div>

            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 servise">
                <img src="../images/services_sec/car-service.svg" alt="">
                <p class="servise_text"><span>Ряд других услуг и предложений, призванных обеспечить максимум удобства клиентам.</span></p>
            </div>

            
        </div>

              
    </div>
</section>
