<section class="models-section">
    <div class="container-fluid">
        <header><h2>Модельный ряд</h2></header>
        <div class="car-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide ">
                    <div class="car-card">
                        <div class="text">
                            <span class="name">V60</span>
                            <p class="name2">
                                CROSS <br />
                                COUNTRY
                            </p>
                            <p class="price">
                                от <br />
                                2&nbsp;820&nbsp;000&nbsp;p
                            </p>
                        </div>
                        <img
                            src="/images/menu_cars/my17_1646_lineup_v90cc_side.png"
                        />
                        <div class="links">
                            <div class="arrowed-link">
                                <a class="link" href="#">Обзор</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Авто в наличии</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Цены</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Тест-драйв</a
                                ><span class="arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="car-card">
                        <div class="text">
                            <span class="name">V60</span>
                            <p class="name2">
                                CROSS <br />
                                COUNTRY
                            </p>
                            <p class="price">
                                от <br />
                                2&nbsp;820&nbsp;000&nbsp;p
                            </p>
                        </div>
                        <img
                            src="/images/menu_cars/my17_1646_lineup_v90cc_side.png"
                        />
                        <div class="links">
                            <div class="arrowed-link">
                                <a class="link" href="#">Обзор</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Авто в наличии</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Цены</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Тест-драйв</a
                                ><span class="arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="car-card">
                        <div class="text">
                            <span class="name">V60</span>
                            <p class="name2">
                                CROSS <br />
                                COUNTRY
                            </p>
                            <p class="price">
                                от <br />
                                2&nbsp;820&nbsp;000&nbsp;p
                            </p>
                        </div>
                        <img
                            src="/images/menu_cars/my17_1646_lineup_v90cc_side.png"
                        />
                        <div class="links">
                            <div class="arrowed-link">
                                <a class="link" href="#">Обзор</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Авто в наличии</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Цены</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Тест-драйв</a
                                ><span class="arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="car-card">
                        <div class="text">
                            <span class="name">V60</span>
                            <p class="name2">
                                CROSS <br />
                                COUNTRY
                            </p>
                            <p class="price">
                                от <br />
                                2&nbsp;820&nbsp;000&nbsp;p
                            </p>
                        </div>
                        <img
                            src="/images/menu_cars/my17_1646_lineup_v90cc_side.png"
                        />
                        <div class="links">
                            <div class="arrowed-link">
                                <a class="link" href="#">Обзор</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Авто в наличии</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Цены</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Тест-драйв</a
                                ><span class="arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="car-card">
                        <div class="text">
                            <span class="name">V60</span>
                            <p class="name2">
                                CROSS <br />
                                COUNTRY
                            </p>
                            <p class="price">
                                от <br />
                                2&nbsp;820&nbsp;000&nbsp;p
                            </p>
                        </div>
                        <img
                            src="/images/menu_cars/my17_1646_lineup_v90cc_side.png"
                        />
                        <div class="links">
                            <div class="arrowed-link">
                                <a class="link" href="#">Обзор</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Авто в наличии</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Цены</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Тест-драйв</a
                                ><span class="arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="car-card">
                        <div class="text">
                            <span class="name">V60</span>
                            <p class="name2">
                                CROSS <br />
                                COUNTRY
                            </p>
                            <p class="price">
                                от <br />
                                2&nbsp;820&nbsp;000&nbsp;p
                            </p>
                        </div>
                        <img
                            src="/images/menu_cars/my17_1646_lineup_v90cc_side.png"
                        />
                        <div class="links">
                            <div class="arrowed-link">
                                <a class="link" href="#">Обзор</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Авто в наличии</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Цены</a
                                ><span class="arrow"></span>
                            </div>
                            <div class="arrowed-link">
                                <a class="link" href="#">Тест-драйв</a
                                ><span class="arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-button"></div>
            <div class="swiper-button-prev swiper-button"></div>
        </div>
    </div>
</section>
