<section class="about-section">
  <div class="container-fluid">
    <div class="row">
      <div class="text col col-xl-7 col-lg-6">
        <h3>
          Major Volvo – официальный дилер
          <span class="_block">Вольво в Москве</span>
        </h3>
        <p>
          Надежный, эстетичный, комфортабельный, с отличной управляемостью и
          традиционным акцентом на безопасность – это Volvo, упоминание которого
          вызывает яркие ассоциации у автолюбителей России, Европы, всего мира.
        </p>
        <p>
          Если вы уже видите себя за рулем этой красивой, современной машины,
          начиненной по последнему слову техники, Major Volvo – официальный
          дилер Вольво в Москве – с радостью воплотит вашу мечту в жизнь.
        </p>
        <div class="underline-link"><a class="link">Читать дальше</a></div>

        <button class="common-button">
          Контакты
          <div class="arrow"></div>
        </button>
      </div>
      <div class="image col col-xl-5 col-lg-6"></div>
    </div>
  </div>
</section>
