<section class="services-section">
    <div class="container-fluid">
        <h2>Услуги по покупке Вольво в Major</h2>
        <p class="text">Мы предлагаем широкий спектр сопутствующих услуг, постоянно расширяем ассортимент и совершенствуем их качества клиентам.</p>

        <div class="row">
            <div class="col col-6">
                <img src="../images/services_sec/change-avto.svg" alt="">
                <p class="servise">Обмен подержанного автомобиля на новый по системе Trade-in.</p>
            </div>

            <div class="col col-6">
                <img src="../images/services_sec/technician.svg" alt="">
                <p class="servise">Предоставление подменного авто на время ремонта.</p>
            </div>

            <div class="col col-6">
                <img src="../images/services_sec/gift.svg" alt="">
                <p class="servise">Выгодная бонусная программа.</p>
            </div>

            <div class="col col-6">
                <img src="../images/services_sec/technician.svg" alt="">
                <p class="servise">Оригинальные запчасти и аксессуары – в наличии и под заказ.</p>
            </div>

            <div class="col col-6">
                <img src="../images/services_sec/guarantee.svg" alt="">
                <p class="servise">Продленная гарантия на 3 года.</p>
            </div>

            <div class="col col-6">
                <img src="../images/services_sec/technician.svg" alt="">
                <p class="servise">Ряд других услуг и предложений, призванных обеспечить максимум удобства клиентам.</p>
            </div>

            
        </div>

              
    </div>
</section>
