<section class="contacts-section">
    <div class="container-fluid">
        <header><h2>Наши автосалоны</h2></header>
        <div class="row">
            <div class="salon-card col">
                <div class="image">
                    <img src="/images/contacts_sec/1_small.png" />
                </div>
                <span class="name _block">Major Volvo МКАД 47 км</span>
                <div class="phone row">
                    <div class="icon col-1">
                        <img src="/images/contacts_sec/phone.svg" />
                    </div>
                    <span class="text col-10">+7 (495) 266-28-52</span>
                </div>
                <div class="clock row">
                    <div class="icon col-1">
                        <img src="/images/contacts_sec/timer.svg" />
                    </div>
                    <span class="text col-10">ежедневно с 8.00 до 22.00</span>
                </div>
                <div class="adress row">
                    <div class="icon col-1">
                        <img src="/images/contacts_sec/map.svg" />
                    </div>
                    <span class="text col-10"
                        >МКАД 47 км (между Ленинским и Мичуринским
                        проспектами)</span
                    >
                </div>
                <div class="arrowed-link">
                    <a href="#" class="link">Подробнее</a
                    ><span class="arrow"></span>
                </div>
            </div>

            <div class="salon-card col">
                <div class="image">
                    <img src="/images/contacts_sec/2_small.png" />
                </div>
                <span class="name _block">Major Volvo МКАД 18 км</span>
                <div class="phone">
                    <span class="icon"></span
                    ><span class="text">+7 (495) 266-28-52</span>
                </div>
                <div class="clock">
                    <span class="icon"></span
                    ><span class="text">ежедневно с 8.00 до 22.00</span>
                </div>
                <div class="adress">
                    <span class="icon"></span
                    ><span class="text"
                        >МКАД 47 км (между Ленинским и Мичуринским проспектами)
                        МКАД 47 км (между Ленинским и Мичуринским проспектами)
                        МКАД 47 км (между Ленинским и Мичуринским
                        проспектами)</span
                    >
                </div>
                <div class="arrowed-link">
                    <a href="#" class="link">Подробнее</a
                    ><span class="arrow"></span>
                </div>
            </div>
            <div class="salon-card col">
                <div class="image">
                    <img src="/images/contacts_sec/3_small.png" />
                </div>
                <span class="name _block">Major Volvo Строгино</span>
                <div class="phone">
                    <span class="icon"></span
                    ><span class="text">+7 (495) 266-28-52</span>
                </div>
                <div class="clock">
                    <span class="icon"></span
                    ><span class="text">ежедневно с 8.00 до 22.00</span>
                </div>
                <div class="adress">
                    <span class="icon"></span
                    ><span class="text"
                        >МКАД 47 км (между Ленинским и Мичуринским проспектами)
                        МКАД 47 км (между Ленинским и Мичуринским
                        проспектами)</span
                    >
                </div>
                <div class="arrowed-link">
                    <a href="#" class="link">Подробнее</a
                    ><span class="arrow"></span>
                </div>
            </div>
            <div class="salon-card col">
                <div class="image">
                    <img src="/images/contacts_sec/4_small.png" />
                </div>
                <span class="name _block">Major Volvo Новая Рига</span>
                <div class="phone">
                    <span class="icon"></span
                    ><span class="text">+7 (495) 266-28-52</span>
                </div>
                <div class="clock">
                    <span class="icon"></span
                    ><span class="text">ежедневно с 8.00 до 22.00</span>
                </div>
                <div class="adress">
                    <span class="icon"></span
                    ><span class="text"
                        >МКАД 47 км (между Ленинским и Мичуринским
                        проспектами)</span
                    >
                </div>
                <div class="arrowed-link">
                    <a href="#" class="link">Подробнее</a
                    ><span class="arrow"></span>
                </div>
            </div>
        </div>
    </div>
</section>
