.about-section {
    background: rgba(0, 0, 0, 0.03) 0 0 no-repeat padding-box;
    .image {
        background: no-repeat url("/images/about_sec/about_c2.png");
        background-position: bottom;
    }
    h3 {
        @extend %normal-font;
        font-size: 32px;
        max-width: 550px;

        margin-top: 36px;
        margin-bottom: 12px;
    }
    .text {
        color: #000;
        padding-left: 80px;
        p {
            @extend %light-font;
            font-size: 14px;
            max-width: 740px;
        }
        .common-button {
            display: flex;
            margin-bottom: 35px;
            margin-top: 38px;

            .arrow {
                background-image: url("/images/menu_cars/link_arrow.png"); // TODO поставить svg
                background-repeat: no-repeat;
                background-size: cover;

                margin-top: 3px;
                margin-left: 5px;
                width: 8px;
                height: 12px;
            }
            &:hover {
                .arrow {
                    background-image: url("/images/menu_cars/white_link_arrow.png"); // TODO поставить svg
                }
            }
        }
    }
    @include media-breakpoint-down(lg) {
        .image {
            background-position: left;
            background-size: cover;
        }
        .text {
            padding-left: 30px;
        }
    }
    @include media-breakpoint-down(md) {
        .image {
            height: 384px;
            background-image: url("/images/about_sec/1_big.png");
            background-position: 5% 5%;
        }
        .text {
            padding-left: 37px;
            h3 {
                margin-top: 19px;
                font-size: 28px;
                line-height: 33px;
                letter-spacing: 0.54px;
            }
            p {
                line-height: 17px;
                letter-spacing: 0.27px;
            }
            .last_p {
                margin-bottom: 6px;
            }
            .common-button {
                max-width: 202px;
            }
            .underline-link {
                letter-spacing: -0.3px;
            }
            .common-button {
                padding: 13px 59px 15px;
                .arrow {
                    margin-top: 2px;
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        .image {
            height: 292px;
        }
        .text {
            padding-left: 16px;

            h3 {
                font-size: 23px;
                letter-spacing: 0.45px;
                line-height: 28px;
                max-width: 393px;
                margin-bottom: 16px;
                margin-top: 21px;
            }
            .last_p {
                margin-bottom: 12.5px;
            }
            .common-button {
                margin-top: 34px;
            }
        }
    }
    @include media-breakpoint-down(xs) {
        .image {
            height: 155px;
        }
        .text {
            padding-left: 15px;
            h3 {
                font-family: $mainFont;
                font-weight: 500;

                margin-top: 8px;
                max-width: 247px;
                margin-bottom: 8.5px;
            }
            .last_p {
                margin-bottom: 9.5px;
            }
            .common-button {
                margin-top: 33px;
                max-width: 290px;
                padding: 14px 103px 15px;
            }
        }
    }
}
