@font-face {
	font-family: "VolvoBroadPro";
	src : url("/fonts/VolvoBroadPro/VolvoBroadPro.otf");
}
@font-face {
	font-family: "VolvoNovum";
	src : url("/fonts/volvo_fonts_new/VolvoNovum-Light.otf");
	font-weight: 300;
}
@font-face {
	font-family: "VolvoNovum";
	src : url("/fonts/Novum/VolvoNovum-Regular.otf");
	font-weight: 400;
}
@font-face {
	font-family: "VolvoNovum";
	src : url("/fonts/volvo_fonts_new/VolvoNovum-Medium.otf");
	font-weight: 500;
}
@font-face {
	font-family: "VolvoNovum";
	src : url("/fonts/volvo_fonts_new/VolvoNovum-Bold.otf");
	font-weight: 600;
}
