.services-section {
    padding-bottom: 25px;

    h2 {
        @extend %medium-font;
        padding-top: 54px;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.62px;
        color: #000000;
        text-align: center;
    }

    .text {
        @extend %light-font;
        text-align: center;
        letter-spacing: 0.39px;
        color: #000000;
        font-size: 20px;
        line-height: 23px;
        max-width: 754px;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .service {
        padding: 0;
        padding-bottom: 30px;
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .service_text {
        display: inline-block;
        padding-right: 34px;
        padding-left: 10px;
        margin: 0;
        @extend %light-font;
        text-align: left;
        letter-spacing: 0.31px;
        color: #000000;
        font-size: 16px;
        line-height: 18px;

        span:hover {
            cursor: pointer;
            color: #2a76c5;
            border-bottom: 1px solid #2a76c5;
        }
    }

    .service_row {
        margin: 0;
        padding-left: 65px;
    }

    @include media-breakpoint-down(lg) {
        padding-bottom: 15px;

        h2 {
            padding-top: 30px;
        }

        .text {
            padding-bottom: 20px;
        }

        .service {
            padding-bottom: 35px;
        }

        .service_row {
            padding-left: 15px;
        }
    }

    @include media-breakpoint-down(md) {
        padding-bottom: 15px;

        h2 {
            padding-top: 23px;
            font-size: 28px;
            line-height: 33px;
            letter-spacing: 0.54px;
        }

        .text {
            padding-bottom: 30px;
            letter-spacing: 0.35px;
            font-size: 18px;
            line-height: 23px;
        }

        .service {
            padding-bottom: 35px;
        }

        .service_row {
            padding-left: 25px;
        }
    }

    @include media-breakpoint-down(sm) {
        padding-bottom: 5px;

        h2 {
            padding-top: 27px;
            font-size: 23px;
            line-height: 28px;
            letter-spacing: 0.45px;
        }

        .text {
            padding-bottom: 23px;
            letter-spacing: 0.35px;
            font-size: 18px;
            line-height: 23px;
            max-width: 504px;
        }

        .service {
            padding: 0 0 33px 0;
        }

        .service_text {
            padding-right: 0px;
            width: auto;
            max-width: unset;
        }

        .service_row {
            padding-left: 15px;
        }
    }

    @include media-breakpoint-down(xs) {
        padding-bottom: 35px;

        h2 {
            padding-top: 20px;
            font-size: 23px;
            line-height: 28px;
            letter-spacing: 0.45px;
        }

        .text {
            padding-bottom: 23px;
            letter-spacing: 0.27px;
            font-size: 14px;
            line-height: 18px;
        }

        .service {
            padding: 0 0 15px 0;
        }

        .service_text {
            padding-left: 10px;
            padding-right: 0px;
            letter-spacing: 0.27px;
            font-size: 14px;
            line-height: 18px;
            width: auto;
            max-width: unset;
        }

        .service_row {
            padding-left: 0px;
        }
    }
}
